/* ==================== Globals ==================== */
:root {
    --primary-color: #C94D24;
    --primary-light: #e65d2e;
    --primary-dark: #a33d1c;
    --text-color: #2d3748;
    --background-color: #f7f7f7;
    --card-background: #ffffff;
    --border-color: #e2e8f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', system-ui, sans-serif;
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../media/background.png') no-repeat center center;
    background-size: cover;
}

/* ==================== Container ==================== */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
}

.message {
    display: flex;
    margin: 10px auto;
    text-align: center;
    color: green or red;
    word-wrap: break-word;
}

/* ==================== Login Box ==================== */
.login-box {
    background-color: var(--card-background);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

/* ==================== Typography ==================== */
h1 {
    text-align: center;
    color: #333;
}

/* ==================== Form ==================== */
form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* ==================== Links ==================== */
a {
    display: block;
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s;
}


a:hover {
    color: var(--primary-light);
}

.g-recaptcha {
    display: flex;
    justify-content: center;
}

/* ==================== Inputs and Buttons ==================== */
input, button {
    padding: 0.5em;
    font-size: 1em;
}

input {
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.8em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: var(--primary-light);
    transform: scale(1.05);
}

